<apex:page id="thePage" controller="zzNew_Agency_User">
	<head>
		<apex:slds />
		<apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.5.0/styles/salesforce-lightning-design-system.min.css"/>
		<apex:includeScript value="https://code.jquery.com/jquery-2.2.4.js"/>
		<apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"/>

		<script>
			//global working variables
				var chkcnt = 0;
				var UserUpInc;
				var arrAgencyName;

			$(document).ready(function () {
				//arrays for Agency User data from controller
					var AgencyName = "{!AgencyName}";
					var UserFName = "{!UserFName}";
					var UserLName = "{!UserLName}";
					var UserEmail = "{!UserEmail}";
					var UserPhone = "{!UserPhone}";
					var UserPRole = "{!UserPRole}";
					var UserACode = "{!UserACode}";
					var UserIsInc = "{!UserIsInc}";

				if (AgencyName != '') {
					arrAgencyName = AgencyName.split('~');
					var arrUserFName = UserFName.split('~');
					var arrUserLName = UserLName.split('~');
					var arrUserEmail = UserEmail.split('~');
					var arrUserPhone = UserPhone.split('~');
					var arrUserPRole = UserPRole.split('~');
					var arrUserACode = UserACode.split('~');
					var arrUserIsInc = UserIsInc.split('~');

					//console.log("aname: "  + AgencyName);
					//console.log("length: " + arrAgencyName.length);

					for (i=0; i<arrAgencyName.length; i++) {
						var templ = {rownum: (i + 1), agencyName: arrAgencyName[i],
							userFName: arrUserFName[i],
							userLName: arrUserLName[i],
							userEmail: arrUserEmail[i],
							userPhone: arrUserPhone[i],
							userPRole: arrUserPRole[i],
							userACode: arrUserACode[i]};

						//console.log('arrUsrIsInc: ' + arrUserIsInc[i]);
						if (arrUserIsInc[i] == 'Yes') {
							$('<tr>', {'html': $('#detail_template').render(templ)}).appendTo($('#agencytable'))
								.find('.cbox').attr('checked', true);
							incCBox();
						}
						else
							$('<tr>', {'html': $('#detail_template').render(templ)}).appendTo($('#agencytable'));
					}
				}
				else {
					//if we have no data from our controller.. we disable buttons and radio.. also display info message
					$('#nodataspan').css('display', 'block');
					$('#submitButton').attr('disabled', true);
					$('#incexall').attr('disabled', true);
				}
			});

			function validateFile() {
				if (document.getElementById("thePage:theForm:theBlock2:theSection21:theItem211:theCSV").files.length == 0) {
					alert("Oops.. you haven't chosen a file to upload yet!'");
					return false;
				}
				else
					console.log(document.getElementById("thePage:theForm:theBlock2:theSection21:theItem211:theCSV").files[0].name);
			}

			function incCBox() {
				chkcnt++;
				if (chkcnt == arrAgencyName.length)
					$('#incexall').prop('checked', true);
			}

			function decCBox() {
				chkcnt--;
			}

			function checkCBox(cb) {
				if (cb.checked == false) {
					$('#incexall').prop('checked', false);
					decCBox();
				}
				else {
					incCBox();
				}
			}

			function checkIncExAll() {
				if ($('#incexall').prop('checked') == true) {
					$('#agencytable').find('.cbox').prop('checked', true);
					chkcnt = arrAgencyName.length;
				}
				else {
					$('#agencytable').find('.cbox').prop('checked', false);
					chkcnt = 0;
				}
			}

			function JScreate() {
				if (chkcnt == 0) {
					alert("Oops.. you haven't selected at least one new user record!");
				}
				else {
					if (confirm("Do you really want to create these Agency Users now?")) {
						console.log('yes.. we will be creating agency users.. yayayayay!');
						UserUpInc = '';
						$('#agencytable tr').each(function (index, element) {
							if (index > 0 && index <= arrAgencyName.length) {
								var checked = 'No';
								if ($(this).find('.cbox').prop('checked') == true)
									checked = 'Yes';

								if (UserUpInc != '')
									UserUpInc += '~' + checked;
								else
									UserUpInc = checked;
							}
						});

						console.log('UserUpInc: ' + UserUpInc);
						createAgencyUsersSFX(UserUpInc);
					}
				}
			}

			function JSTruncate() {
				if (confirm("Do you really, really want to truncate upload object now?")) {
					truncateTableSFX();
				}
			}
		</script>

		<script type="text/template" id="detail_template">
			<td class="restdr cr">{{:rownum}}</td>
			<td class="restdr">{{:agencyName}}</td>
			<td class="restdr">{{:userFName}}</td>
			<td class="restdr">{{:userLName}}</td>
			<td class="restdr">{{:userEmail}}</td>
			<td class="restdr">{{:userPhone}}</td>
			<td class="restdr">{{:userPRole}}</td>
			<td class="restdr">{{:userACode}}</td>
			<td class="restdr cr"><input type="checkbox" name="cbox" class="cbox" onclick="checkCBox(this)"/></td>
		</script>

		<style>
			table.mobtable {
				color: #222222;
				font-size: 12px;
				border: 1px solid #d5d5d5;
			}

			td.restth2 {
				/*background: #167f92;*/
				background: #2F4F4F;
				color: white;
				padding: 10px 5px;
				text-align: center;
				border: 1px solid #2F4F4F;
			}

			td.restdr {
				vertical-align: middle;
				padding: 7px 5px;
				/* don't use background for td if you need to
					color the tr using hover class */
				/*background: white;*/
				line-height: 1em;
				border: 1px solid #d5d5d5;
			}

			td.rt {
				text-align: right;
			}

			td.cr {
				text-align: center;
			}

			.shadow{
				box-shadow: 0 10px 6px -6px #777;
			}
		</style>
	</head>
	<apex:sectionHeader title="Create New Partner Agency Users"/>
	<apex:form id="theForm">
		<apex:pageBlock id="theBlock1" title="List of Agency Users To Be Created:" rendered="{!showSPromptScr}">
			<apex:pageBlockSection id="theSection2" columns="1">
				<apex:pageblockSectionItem id="theItemA1">
					<apex:outputPanel styleClass="requiredInput" layout="block">
					<apex:outputPanel id="outputp" styleClass="requiredBlock" layout="block"/>
						<div style="margin-top: 0px;">
							<div style="width: 80%; float: left;">
								<div style="height: {!divHeight}px; overflow: auto;" class="shadow">
									<table id="agencytable" class="mobtable" style="font-size: 14px;">
										<tr>
											<td class="restth2" style="width: 040px;">#</td>
											<td class="restth2" style="width: 200px;">Agency Name</td>
											<td class="restth2" style="width: 100px;">User FName</td>
											<td class="restth2" style="width: 100px;">User LName</td>
											<td class="restth2" style="width: 100px;">User Email</td>
											<td class="restth2" style="width: 070px;">Phone</td>
											<td class="restth2" style="width: 100px;">Role</td>
											<td class="restth2" style="width: 070px;">Code</td>
											<td class="restth2" style="width: 050px;">Include?</td>
										</tr>
									</table>
								</div>

								<div style="height: 40px; margin-top: 20px;">
									<button type="button"
										style="width: 120px; height: 40px; border-radius: 3px; margin-right: 5px; cursor: pointer;
											float: left; font-size: 16px;"
										onclick="showUploadCSVSFX()">Upload CSV</button>

									<button type="button" id="submitButton"
										style="width: 80px; height: 40px; border-radius: 3px; margin-right: 5px; cursor: pointer;
											float: right; font-size: 16px;"
										onclick="JScreate()">Submit</button>

									<div style="height: 40px; display: flex; align-items: center; float: right;">
										<span id="nodataspan" style="font-size: 16px; margin-right: 10px; color: red; display: none;"
											>Either no new data upload yet or no data extracted from upload object!</span>
									</div>
								</div>
							</div>
						</div>

						<div style="width: 10%; height: 250px; float: left; margin-left: 30px;">
							<div style="padding: 20px 0px; font-size: 14px;">
								<input type="checkbox" id="incexall" style="width: 15px; height: 15px;"
									onclick="checkIncExAll()"/> Include/Exclude ALL
							</div>
						</div>
					</apex:outputPanel>
				</apex:pageblockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>

		<apex:pageBlock id="theBlock2" title="Upload CSV File" rendered="{!showFUploadSCR}">
			<apex:pageBlockSection id="theSection21" columns="4">
				<apex:outputPanel styleClass="customPanel">
					<apex:pageBlockSectionItem id="theItem211">
						<apex:inputFile id="theCSV" value="{!csvFileBody}"  filename="{!csvAsString}"
							style="width: 250px !important;"/>
						<apex:commandButton value="Upload File" action="{!importCSVFile}" onclick="return validateFile()"
							style="width: 100px; height: 40px; cursor: pointer; margin-left: 30px;"/>
					</apex:pageBlockSectionItem>
				</apex:outputPanel>
			</apex:pageBlockSection><br/><br/>
			<apex:pageBlockSection columns="2">
				<apex:commandButton value="Back" action="{!gobackToMain}" style="width: 100px; height: 40px; cursor: pointer;"/>
			</apex:pageBlockSection>
			<apex:pagemessages />
		</apex:pageBlock>

		<apex:pageBlock title="File Content" rendered="{!showTableScr}">
			<div style="width: 75%;">
				<apex:pageBlockSection columns="1">
					<apex:pageblocktable value="{!aguList}" var="agu">
						<apex:column value="{!agu.Email__c}"/>
						<apex:column value="{!agu.First_Name__c}"/>
						<apex:column value="{!agu.Last_Name__c}"/>
						<apex:column value="{!agu.Phone__c}"/>
						<apex:column value="{!agu.Account_Name__c}"/>
						<apex:column value="{!agu.Role__c}"/>
						<apex:column value="{!agu.Agent_Code__c}"/>
					</apex:pageblocktable>
					<apex:commandButton value="Import Records" action="{!createRecords}"
						style="width: 120px; height: 40px; cursor: pointer; margin-top: 15px;"/>
				</apex:pageBlockSection>
			</div>
		</apex:pageBlock>

		<apex:pageBlock rendered="{!showResltScr}">
			<div style="width: 50%;">
				<apex:pageBlockSection columns="1">
					<span style="font-size: 18px; color: red;">{!resultMessageE}</span>
					<span style="font-size: 18px;">{!resultMessageS}</span>
				</apex:pageBlockSection>
			</div>
		</apex:pageBlock>

		<apex:actionFunction name="showUploadCSVSFX" action="{!showUploadCSV}" reRender="theForm" />
		<apex:actionFunction name="showPromptScrSFX" action="{!gobackToMain}"  reRender="theForm" />
		<apex:actionFunction name="createAgencyUsersSFX" action="{!createAgencyUsers}" reRender="theForm">
			<apex:param name="a" assignTo="{!UserUpInc}" value="" />
		</apex:actionFunction>
	</apex:form>
</apex:page>